hr {
    margin: 1rem 0;
    color: #aaaaaa !important;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
}

.small-custom {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--text-secondary);
    margin-top: -15px;
    margin-left: 15px;
}

.small-custom:hover {
    color: var(--text-secondary);
    cursor: pointer;
}

.menu {
    background-color: rgba(78, 171, 233, 0.13);
}